{% if messages %}

    {% for message in messages %}
        <div id="message" class="conainer">
            <div class="alert alert-{{ message.tags }}" alert-dimissable role="alert">
                <button type="buton" class="close" data-dimissable="alert"><span aria-hidden="true">&times;</span></button>
                
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Error:
                    {% else %}
                        {{message.tags|title}}
                    {% endif %}
                </strong>
                {{message}}
            </div>
        </div>
    {% endfor %}

{% endif %}